<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Software Developer</h3>
                            <div class="time">Sep 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Central Asia Financial (JAGADIRI)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Analyse, develop, and enhance internal Insurace Core System and satellite applications. C#, MySQL, Java, MongoDB</p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT System Analyst</h3>
                            <div class="time">Aug 2016 - Aug 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Bank Sahabat Sampoerna</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Analyse, develop, enhance, and deploy non-core banking applications for both Sahabat UKM and Bank Sahabat Sampoerna.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Software Developer</h3>
                            <div class="time">Jan 2016 - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Intikom Berlian Mustika</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop several applications for client: PT. Indonesia Infrastructure Finance.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT System Analyst</h3>
                            <div class="time">Jul 2015 - Dec 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Trengginas Daya Insani</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Work as IT System Analyst for client: PT. Bank Sahabat Sampoerna. Analyse, develop, enhance, and deploy non-core banking applications for both Sahabat UKM and Bank Sahabat Sampoerna.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Jul 2013 - Jun 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">PT. Xsis Mitra Utama</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software Engineer with specialties in: C# .NET, MS SQL Server, and Oracle.</p>
                        <p>Clients: PT. Fujitsu Indonesia; PT. Tower Bersama Infrastructure Tbk. </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
