<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Other projects I've been working on:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Hotel Information System</a></span> - <span class="project-tagline">Basic hotel information system built using ASP.NET MVC framework. </span>
                </div><!--//item-->
            </section><!--//section-->
